.quizLiAnswer {
	transition: color 0.2s linear;
	padding: 2px;
	margin: -1px;
	border-radius: 2px;
}
.quizLiAnswerActive:hover {
	color: rgba(169, 227, 40, 0.50);
	cursor: pointer;
}
.quizLiAnswerSelected {
	color: rgba(169, 227, 40, 1);
}
.quizResult {
	font-weight: bold;
}
.answers {
	list-style-type: upper-alpha;
}
